.toggle {
  color: #ffffff;
  background-color: #009acd;
  border-top-left-radius: 5px;
  padding-top: 5px;
  height: 30px;
  width: 200px;
  font-weight: 500;
}

.collapsible .content {
  background-color: #434c5e;
  border: 1px solid #afafaf;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.iconButtonDeCollapse {
  border-top-right-radius: 5px;
  background-color: #009acd;
  width: 30px;
  display: flex;
  align-items: center;
  height: 30px;
}

.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.4s;
}

.stroke {
  width: 100%;
  height: 8px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #009acd;
  margin-bottom: 2.5vh;
}
