.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.favicon {
  margin: 5px;
  width: 16px;
  height: 16px;
}

.name {
  font-size: 22px;
  font-weight: 600;
  width: 11vw;
  margin: 10px;
  overflow-x: scroll;
  text-transform: capitalize;
}

.password {
  margin: 5px;
  font-size: 18px;
}

.dropdownMenu {
  position: absolute;
  z-index: 99;
  background-color: #009fd4;
  color: #fff;
  margin: 6px;
  padding: 5px;
  border-radius: 6px;
  font-size: 16px;
  box-shadow: 0px 0px 5px 1px #fff;
  cursor: pointer;
}

.delete {
  padding: 4px;
  display: flex;
  align-items: center;
}

.edit {
  padding: 4px;
  display: flex;
  align-items: center;
}

.editIcon {
  margin: 4px;
}

.deleteIcon {
  margin: 4px;
}

.url {
  width: 18vw;
  margin: 5px;
  margin-top: 0px;
  padding: 4px;
  padding-top: 0px;
  font-size: 18px;
  overflow-x: scroll;
}

.container {
  align-items: center;
}

.mainContainer {
  box-shadow: 0px 0px 3px 0.2px #fff;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  border: white 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urlTag {
  font-weight: 300;
  margin: 5px;
  margin-bottom: 0px;
  width: 20px;
  padding: 3px;
  padding-bottom: 0px;
  font-size: 11px;
}

.moreOptions,
.showPassword {
  margin: 5px;
  width: 22px;
  height: 22px;
}
