$bg-color: #434c5e;
$secondaryColor: #3b4252;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: $bg-color;
  color: #fff;
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
}

input {
  background-color: whitesmoke;
  margin: 10px;
  height: 30px;
  border-radius: 0.3rem;
  padding: 5px;
  padding-left: 10px;
}

.innerDiv {
  background-color: $secondaryColor;
  max-width: 1000px;
  height: 200vh;
  padding: 30px;
}

.searchBar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
}

.searchIcon {
  width: 20px;
  height: 30px;
  padding: 5px;
  padding-right: 10px;
  margin-right: 0px;
  background-color: whitesmoke;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: $secondaryColor;
  margin-right: 10px;
}

hr.rounded {
  border-top: 1px solid #495057;
  border-radius: 10px;
  width: 40vw;
  margin: 15px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.searchInput {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  margin-right: 0px;
}

.passwordList {
  border-radius: 5px;
  width: 100%;
  height: 190vh;
  background-color: $secondaryColor;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.addButton {
  color: #ffffff;
  background-color: #009acd;
  margin-bottom: 2.5vh;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin: 10px;
  font-weight: 500;
}
.urlInput {
  width: 100%;
}
.passwordInput {
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
}

$btnColor: #00bfff;

.resetButton {
  width: 100px;
  height: 40px;
  background-color: #009acd;
  border-radius: 5px;
  margin: 15px;
  margin-top: 0px;
  cursor: pointer;
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
  }
  &:hover {
    background-color: scale-color($btnColor, $lightness: -20%);
    color: white;
  }
  transition: 220ms all ease-in-out;
}

.passwordShowAddDiv {
  background-color: whitesmoke;
  border-radius: 0.3rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 10px;
  margin-left: 0px;
  margin-right: 10px;
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showPasswordAdd {
  width: 22px;
  height: 22px;
  color: black;
  background-color: white;
}

.passwordGeneratorButton {
  width: 120px;
  color: white;
  background-color: #81a1c1;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 500;
}

.authContainer {
  max-width: 900px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $bg-color;
  border-radius: 5px;
}

.signInInput {
  width: 100%;
}

.signInContainer {
  width: 100%;
}

.signOutButton {
  width: 120px;
  color: white;
  background-color: #b197fc;
  border-radius: 5px;
  padding: 15px;
  padding-top: 5px;
  font-weight: 500;
}

.signOutContainer {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.signInButton {
  width: 120px;
  color: white;
  background-color: #7950f2;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 500;
}
